@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Ysabeau:wght@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:wght@300&family=Ysabeau:wght@1&display=swap');


* {
    margin: 0;
    padding: 0;
}
:root{
    --azul: #22d4fd;
    --preto:#000000;
    --branco: #f6f6f6;
    --cinza: #272727;
}
.cabecalho {
    padding: 3% 0% 0% 6%;
    background-color: #22D4FD;
}
.cabecalho__menu {
    display: flex;
    gap: 1%;
}
.cabecalho__menu__link {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    font-size: 1.37rem;
    padding: 0% 0.35%;
    color: var(--preto);
    font-weight: 600;
}
.subtitulo {
    text-align: left;
    font-size: 1.87rem;
    font-family: 'Righteous', cursive;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 40%;
    padding-left: 6%;
    display: flex;
    align-items: center;
}
body {
    height: 100vh;
    background-color: var(--preto);
    color: var(--branco);
    box-sizing: border-box;
    width: 100%;
    border: solid var(--preto);
}
.dados {
    padding-top: 5%;
    padding-bottom: 6%;
    padding-left: 6%;
    display: flex;
    flex-direction: column;
    font-size: 1.18rem;
    font-family: 'Titillium Web', sans-serif;
}
.dados__item {
    margin-bottom: 10px;
}

.dados__titulo {
    font-family: 'Righteous', cursive;
    font-weight: bold;
}
.imgeu {
    float: right;
    margin-right: 6%;
    width: 20%;
}
.botoes {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 4%;
    padding-top: 5%;
    width: 100%;
}
.botoes__botao {
    display: inline-block;
    width: 100%;
    text-align: center;
    box-shadow: 10px 10px var(--azul);
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--branco);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin:0% 2%;
    
}
.botoes__botao:hover {
    background-color: var(--cinza);
    font-size: larger;
}
.rodape {
    background-color: var(--azul);
    padding: 4%;
    color: var(--preto);
    display: flexbox;
    text-align: center;
}
.imgrodape {
    width: 3%;
}
.rodapetexto {
    font-family: 'Righteous', cursive;
    font-size: 0.93rem;
}
@media (max-width: 900px ) {
    .botoes {
        flex-direction: column-reverse;
    }

}