@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Ysabeau:wght@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:wght@300&family=Ysabeau:wght@1&display=swap');


*{
    margin: 0;
    padding: 0;    
}
:root{
    --azul: #22d4fd;
    --preto:#000000;
    --branco: #f6f6f6;
    --cinza: #272727;
}
.cabecalho {
    padding: 3% 0% 0% 6%;
    background-color: var(--azul);
}
.cabecalho__menu {
    display: flex;
    gap: 1%;
}
.cabecalho__menu__link {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    font-size: 22px;
    padding: 0% 0.35%;
    color: var(--preto);
    font-weight: 600;
}    
body {
    background-color: var(--preto);
    color: var(--branco);
}
.titulo {
    text-align: center;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    padding-top: 5%;
}
.dados{
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 2%;
    padding-right: 6%;
    padding-left: 6%;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;    
}

.botoes{
    padding: 100px 0px;
    text-align: center;
}
.botoes__botao{
    display: flexbox;
    width: 100%;
    padding-left: 2%;
    padding-right: 1%;
    text-align: center;
    box-shadow: 10px 10px var(--azul);
    border-radius: 8px;
    font-size: 24px;
    color: var(--branco);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.botoes__botao:hover {
    background-color: var(--cinza);
    font-size: larger;
}
.rodape {
    background-color: var(--azul);
    padding: 4%;
    color: var(--preto);
    display: flexbox;
    text-align: center;
}
.imgrodape {
    width: 3%;
}
.rodapetexto {
    font-family: 'Righteous', cursive;
    font-size: 15px;
}